body{

margin:0;
font-family:Arial;
background:#f2f2f2;

}


.app{

text-align:center;
padding:30px;

}



.container,
.details{


background:white;
width:350px;
margin:30px auto;
padding:25px;
border-radius:15px;
box-shadow:0 0 10px gray;


}



.user{


display:block;
text-decoration:none;
background:#3498db;
color:white;
padding:12px;
margin:15px;
border-radius:8px;


}



.user:hover{

background:#217dbb;

}



.details p,
.details h3{

text-align:left;

}