body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  text-align: center;
  padding: 40px;
}

h1 {
  margin-bottom: 30px;
  color: #0244f7;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}



.card p {
  margin: 8px 0;
  color: #444;
}

.strong{
  color: #0244f7;
  font-weight: 700;
}